.blogPost{
    width: 70%;
    background-color: #fff;
}

.blogHeader{
    text-align: center;
}

.blogCategory{
    display: block;
    padding: 10px 0px;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: #565673;
}

.postTitle{
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    font-weight: 400;
}
.postedBy{
    font-style: italic;
    font-size: 1em;
    font-weight: 100;
    padding: 10px 0;
    display: block;
    letter-spacing: 1px;
}
.postImageContainer{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.postImageContainer img{
    width: 100%;
}

.blogPost p{
    font-size: 1em;
    color: #565673;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    padding: 10px 30px;
}

.blogPost h3,h2{
    margin-left:30px;
    color: #333;
    font-weight: 500;
}

@media only screen and (max-width : 600px){
    .blogPost {
        width: 60%;
    }
    .postTitle{
        font-size: 0.9em;
        letter-spacing: normal;
    }
    .postedBy{
        font-size: 0.7em;
        font-family: Arial, Helvetica, sans-serif;
    }
    .blogPost h3,h2{
        font-size: 0.9em;
        margin-left:10px;
    }
    .blogPost p{
        font-size: 0.8em;
        padding: 10px;
    }
    .postContent p{
        font-size: 0.8em;
        padding: 15px;
    }
}