.sideBar{
    width: 28%;
}
.cardHeader{
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
    color: #565673;
    font-size: 1.5em;
}
.profileImage{
    width: 100%;
    margin:10px 0;
    box-sizing: border-box;
}
.profileImage img{
    width: 100%;
}
.cardBody p{
    font-size: 1em;
    color: #565673;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
}
.card-wrapper{
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px lightgray;
    transition: 0.3s all ease-in;
    -webkit-transition: 0.3s all ease-in;
    -moz-transition: 0.3s all ease-in;
    -ms-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
}
.card-wrapper:hover{
    box-shadow: 0px 0px 10px gray;
    
}


.recentPost{
    border-bottom: 1px solid lightgray;
    padding:20px 0;
}
.recentPost h3{
    font-weight: 500;
    color: #6c6c6c;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 0;
}
.recentPost span{
    font-weight: 400;
    font-size: 12px;
    color: #6c6c6c;
    letter-spacing: 1px;
}
.navlink{
    text-decoration: none;
}
.navlink h3{
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}

.navlink h3:hover{
    color: rgb(26, 24, 24);
}

@media only screen and (max-width: 600px){
    .sideBar {
        width: 35%;
    }
    .card-wrapper {
        padding: 10px;
    }
    .cardHeader {
        padding: 5px 0;
        box-sizing: border-box;
        color: #565673;
        font-size: 1.1em;
    }
    .cardBody p {
        font-size: 0.8em;
    }
    .recentPost h3 {
        letter-spacing:0.4px;
        font-size: 0.9em;
        margin: 0;
    }
    .footer-right a{
        margin: 3px;
    }
}